<app-user></app-user>
<div>
  <h2>Medicamentos</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Dosagem</th>
      <th>Quantidade</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let drug of drugs">
      <td>{{drug.id}}</td>
      <td>{{drug.name}}</td>
      <td>{{drug.price}}</td>
      <td>{{drug.dosage}}</td>
      <td>{{drug.quantity}}</td>
      <td style="width: 45%"><button class="btn btn-info" (click)="findOne(drug)" data-toggle="modal"
                                     data-target="#modalVer">
        Ver
      </button>

        <button type="button" class="btn btn-primary" (click)="findOne(drug)"
                data-toggle="modal" data-target="#modalEditar">
          Editar
        </button>

        <button class="btn btn-danger" (click)="deleteDrug(drug)"> Deletar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerTitle">Medicamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="findOneById != null" class="modal-body">
        <p><b>ID:</b> {{findOneById.id}}</p>
        <p><b>Nome:</b> {{findOneById.name}}</p>
        <p><b>Preço:</b> {{findOneById.price}}</p>
        <p><b>Dosagem:</b> {{findOneById.dosage}}</p>
        <p><b>Quantidade:</b> {{findOneById.quantity}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarTitle">Medicamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="findOneById != null" class="modal-body">
          <p><b>ID:</b> {{findOneById.id}}</p>
          <p><b>Nome:</b> {{findOneById.name}}</p>
          <p><b>Preço:</b> {{findOneById.price}}</p>
          <p><b>Dosagem:</b> {{findOneById.dosage}}</p>
          <p><b>Quantidade:</b> {{findOneById.quantity}}</p>
        </div>
        <hr>
        <h3 align="center">Editar</h3>
        <div>
          <form>
            <div class="row">

              <div class="col-4">
                <label for="name">Nome:</label>
                <input [(ngModel)]="updateDrug.name" placeholder="Name" name="name" class="form-control"
                       id="name" required="required">
              </div>

              <div class="col-6">
                <label for="price">Preço:</label>
                <input [(ngModel)]="updateDrug.price" placeholder="Price" name="price" class="form-control"
                       id="price" required>
              </div>

              <div class="col-4">
                <label for="dosage">Dosagem:</label>
                <input [(ngModel)]="updateDrug.dosage" placeholder="Dosage" name="dosage" class="form-control"
                       id="dosage" required>
              </div>

              <div class="col-4">
                <label for="quantity">Quantidade:</label>
                <input [(ngModel)]="updateDrug.quantity" placeholder="Quantity" name="quantity" class="form-control"
                       id="quantity" required>
              </div>
            </div>
            <br>
            <button class="btn btn-success" (click)="putDrug()">Editar</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>

