<app-user></app-user>
<div class="container">
  <h2 class="text-center">{{ labels.animal.titleRegister }}</h2>
  <br>
  <form id="formAnimal">
    <div class="row">

      <div class="col-4">
        <label for="age">{{ labels.animal.tableAge }}:</label>
        <input type="number" [(ngModel)]="animal.age" placeholder="Age" name="age" class="form-control"
               id="age" required="required">
      </div>

      <div class="col-6">
        <label for="name">{{ labels.animal.tableName }}:</label>
        <input type="text" [(ngModel)]="animal.name" placeholder="Name" name="name" class="form-control"
               id="name" required>
      </div>

      <div class="col-4">
        <label for="species">{{ labels.animal.tableSpecies }}:</label>
        <input type="text" [(ngModel)]="animal.species" placeholder="Species" name="species" class="form-control"
               id="species" required>
      </div>

      <div class="col-4">
        <label for="breed">{{ labels.animal.tableBreed}}:</label>
        <input type="text" [(ngModel)]="animal.breed" placeholder="Breed" name="breed" class="form-control" id="breed"
               required>
      </div>

    </div>
    <br>

    <button class="btn btn-success" (click)="createAnimal(formAnimal)">{{ labels.actions.register }}</button>
  </form>
</div>
