<app-user></app-user>
<div class="container">
  <h2 class="text-center">Cadastrar Animal</h2>
  <br>
  <form id="formAnimal">
    <div class="row">

      <div class="col-4">
        <label for="idade">Idade:</label>
        <input type="number" [(ngModel)]="animal.idade" placeholder="Idade" name="idade" class="form-control"
               id="idade" required="required">
      </div>

      <div class="col-6">
        <label for="nome">Nome:</label>
        <input type="text" [(ngModel)]="animal.nome" placeholder="Nome" name="nome" class="form-control"
               id="nome" required>
      </div>

      <div class="col-4">
        <label for="tipo">Tipo:</label>
        <input type="text" [(ngModel)]="animal.tipo" placeholder="Tipo" name="tipo" class="form-control"
               id="tipo" required>
      </div>

      <div class="col-4">
        <label for="raca">Raça:</label>
        <input type="text" [(ngModel)]="animal.raca" placeholder="Raça" name="raca" class="form-control" id="raca"
               required>
      </div>

    </div>
    <br>

    <button class="btn btn-success" (click)="createAnimal(formAnimal)">Cadastrar</button>
  </form>
</div>
